body {
  font-family: "Montserrat", sans-serif;
  color: #404142;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
}

h1 {
  font-weight: 200;
  margin: 15px auto;
}

p {
  font-size: 1.4em;
  line-height: 1.55em;
  margin-bottom: 12px;
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

img {
  padding: 5px;
  margin: 5px;
  border: 4px solid #356492;
  max-width: 100%;
}

#divResult {
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin: 45px;
}

.github-logo1 {
  font-size: 1em;
  font-weight: 800;
  padding: 0px;
  margin: 0px;
}

.lookbook {
  color: #356492;
  font-family: "Russo One", sans-serif;
  font-weight: 900;
}

#copyright {
  text-align: center;
  font-weight: 800;
  opacity: 0.9;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media (max-width: 2561px) {
  #copyright {
    padding-top: 10px;
    position: relative;
  }
}

#copyright .lookbook {
  opacity: 1;
}

#copyright a {
  color: #616161;
}

#copyright a:hover {
  color: #356492;
}

#copyright .fa-heart {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  font-weight: normal;
}


 /* Made with love by Sonu kumar kushwaha  */